*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@mixin delete {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 5px;
  color: white;
  background: rgb(228, 26, 26);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

#contenaire{
  width: 100vw;
  min-height: 100vh;
  font-weight: 400;
  display: flex;
  #nav{
    position: relative;
    height: 100vh;
    background: #ebecec;
    color: #292c2f;
    width: 250px;
    padding: 10px 0;
    background: rgb(70, 69, 65);
    transition: all .5s ease-in-out;
    img{
      width: 20px;
      height: 20px;
    }
    >.nav_3{
        position: relative;
        width: 100%;
        margin: 10px 0;
        padding: 20px 0 5px 5px;
        display: flex;
        line-height: 120%;
        border-top: 1px solid rgba(255, 255, 255, 0.13);
        border-top-right-radius: 30%;
        transition: all 1s ease-in-out;
        display: block;
        >*{
          cursor: pointer;
          transition: all 1s ease-in-out;
        }
        >*:not(:nth-child(1)){
          padding: 5px;
          >*:not(:nth-child(3)){
            padding: 10px;
          }
          >:nth-child(4),:nth-child(5),:nth-child(6){
            display: none;
          }
        }
        &:hover{
          .dlt,.end,.tasks{
            visibility: visible;
            top: -5px;
            opacity: 100%;
            transition: all .7s ease-in-out;
          }
          background: rgb(252, 251, 250);
        }
        >*{
          >:nth-child(2){
            overflow: hidden;
            width: 50%
          }
        }
        >:not(:nth-child(1)){
          overflow: hidden;
          word-wrap: break-word;
        }
        .dlt{
          @include delete;
          visibility: hidden;
        }
        &:hover{
          @for $len from 4 to 10 {
            >:nth-child(#{$len}){
              display: block;
              transition: all .5s ease-in-out;
            }
          }
            .dlt,.end,.tasks{
              visibility: visible;
              top: -5px;
              opacity: 100%;
              transition: all .7s ease-in-out;
            }
        }
        @for $len from 4 to 10 {
          >:nth-child(#{$len}){
            display: none;
            transition: all .5s ease-in-out;
          }
        }
      >:nth-child(1){
        display: flex;
        justify-items: center;
        width: 98%;
        line-height: 120%;
        padding: 0px 10px 0 5px;
        margin: 5px 0 5px 5px;
        border-radius: 5px;
        background: black;
        color: rgb(231, 229, 229);
        transition: all .5s ease-in-out;
        >*{
          margin: 5px;
        }
        >:nth-child(2){
          width: 35%;
        }
        img{
          width: 25px;
        }
      }
        >:not(:nth-child(1)){
          position: relative;
          width: 95%;
          margin: 5px auto;
          border-radius: 3px;
          background: #4cb85f;
          color: white;
          font-size: 1.2em;
          >:nth-child(3){
            @include delete();
            right: 0;
            top: 0;
            text-align: center;
          }
        }
    }
  }

  #new_list{
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: rgb(143, 143, 141);
    color: rgb(226, 224, 224);
    border-top: 1px solid rgba(15, 15, 15, 0.178);
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25%;
    &:hover{
      background: #fff;
    }
    >:nth-child(1){
      font-size: 2em;
      font-weight: bold;
      margin: 0 10px 0 0;
      line-height: 40px;
    }
    >:nth-child(2){
      font-size: 1.3em;
      line-height: 40px;
    }
    .dlt{
      @include delete;
    }
  }

  #display{
    min-height: 100vh;
    width: 100%;
    background: #292929;
    .title{
      font-size: 3em;
      color: goldenrod;
      text-align: center;
      padding-top: 30px;
    }
    .display>*:not(:nth-child(1)){
      padding: 20px;
      width: 70%;
      position: relative;
      margin: 30px;
      font-size: 1.4em;
      background: #494646;
      border: 1px solid white;
      box-shadow: 2px 4px 5px white, -2px -2px 5px white;
      border-radius: 5px;
      margin: 5% auto;
      div{
        display: flex;
        span{
        width: 50%;
        padding-left: 20px;
        color: white;
        border-bottom: 1px solid beige;
        padding: 5px 10px;
        }
        :nth-child(2){
          color: #46c546;
        }
      }
      .dlt{
        width: 25px;
        height: 25px;
        border-radius: 5px;
        top: -20px;
        right: -10px;
      }
      .hide{
        position: absolute;
        top: -20px;
        right: 30px;
        width: 25px;
        border-radius: 5px;
        font-size: 1em;
        background: rgb(44, 167, 32);
        color: white;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  @mixin focused {
    &:focus{
      box-shadow: 2px 2px 5px rgb(148, 148, 240), -2px -2px 5px rgb(148, 148, 240), 
      -2px 2px 5px rgb(148, 148, 240), 2px -2px 5px rgb(148, 148, 240);
      }
  }

  .dashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(222, 226, 226);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(155, 155, 180), -5px -5px 5px rgb(155, 155, 180), 
    -5px 5px 5px rgb(155, 155, 180), 5px -5px 5px rgb(155, 155, 180);
    input{
      font-size: 1.2em;
      margin: 10px;
      padding: 10px;
      outline: none;
      border: 0;
      background: rgb(222, 226, 226);
      &:focus{
        @include focused;
      }
    }
    .dashboard-contenaire,.dashboard-list{
      position: relative;
      width: 420px;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      >:nth-child(1){
        width: 100%;
        font-size: 1.4em;
        background: rgb(109, 124, 110);
        color: rgb(253, 203, 2);
        padding: 5px;
        margin: 10px;
        text-align: center;
      }
      >:nth-child(2){
        width: 40%;
        margin-top: 12px;
        font-size: 1.4em;
        color: #606460
      }
      .dlt{
        @include delete;
        opacity: 100%;
      }
      >:nth-child(3){
        width: 50%;
        height: 30px;
        margin: 10px auto;
        padding: 5px 10px;
        font-size: 1em;
        background: rgb(222, 226, 226);
        border: 0;
        border-radius: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.39);
        &:focus{
          @include focused;
        }
      }
      >:nth-child(6),>:nth-child(7){
        width: 40%;
        border: 1px solid black;
        margin: 10px auto;
      }
      >textarea{
        margin: 15px auto;
        padding: 5px;
        font-size: 1.2em;
        background: rgb(222, 226, 226);
        border: 0;
        border-radius: 5px;
        scroll-behavior: unset;
        border-bottom: 1px solid rgba(0, 0, 0, 0.459);
        &:focus{
          @include focused;
          }
      }
      button{
        width: 100%;
        height: 30px;
        font-size: 1.1em;
        background: rgb(105, 172, 5);
        color: honeydew;
        border-radius: 5px;
        margin-top: 10px;
        border: 0;
        cursor: pointer;
        &:hover{
          background: rgb(126, 206, 7);
        }
        &:active{
          background: rgb(105, 172, 5);
        }
      }
    }
    .dashboard-new-list{
      width: 100%;
      position: relative;
      text-align: center;
      padding: 2%;
      >*:not(:nth-child(3)){
        text-align: center;
        width: 90%;
        height: 30px;
        margin: 20px;
      }
      :nth-child(4){
        background: rgb(57, 168, 42);
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 1em;
        cursor: pointer;
      }
      :nth-child(1){
        color: rgb(158, 131, 62);
        font-size: 2em;
      }
    }
  }

  .dashboard-book{
    width: 500px;
    background: rgb(199, 211, 187);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: rgb(94, 89, 89);
    :nth-child(1){
      width: 100%;
      padding: 15px 5px;
      font-size: 1.5em;
      color: rgb(99, 79, 29);
    }
    :nth-child(2),:nth-child(3),
    :nth-child(4),:nth-child(5),
    :nth-child(6),:nth-child(7),
    :nth-child(8),:nth-child(11),
    :nth-child(13){
      width: 45%;
    }
    :nth-child(9),:nth-child(10),:nth-child(12){
      width: 20%;
    }
    :nth-child(11){
      width: 17%;
      margin-left: 45%;
    }
    :nth-child(13){
      @include delete();
    }
    :nth-child(14){
      width: 80%;
      background: rgb(45, 170, 45);
      font-size: 1.2em;
      color: white;
      margin: 5px auto;
      padding: 5px;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
    }
  }

  .end,.tasks{
    position: absolute;
    right: 90px;
    top: 15px;
    width: 22px;
    height: 20px;
    border-radius: 6px;
    font-size: 1.3em;
    text-align: center;
    background: rgb(243, 66, 66);
    visibility: hidden;
    opacity: 10%;
    cursor: default;
  }

  .tasks{
    right: 50px;
    background: rgb(55, 204, 55);
    visibility: hidden;
  }

  .add{
    position: absolute;
    right: -20px;
    top: 25px;
    height: 25px;
    width: 25px;
    background: #23e633;
    color: #292929;
    font-size: 1.5em;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .dlt{
    @include delete;
  }

}